aside{
    background-color: rgb(116, 176, 236);
    transition: width 0.3s ease;
    overflow: hidden;

}

aside.expanded{
    width: 20rem;
}

aside.collapsed{
    width: 0;
}
aside div{
    display: flex;
    padding-left: 1rem;
}

.profileMenu{
    margin-bottom: 5rem;
}

img{
    width: 30px;
    margin-left: auto;
    padding-right: 1rem;
}